.heading-section {
  background-color: var(--primary-color);
  margin-top: 52px;
}
.heading-section > h1 {
  color: var(--base-color);
  font-family: var(--font-sec);
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
.detail-section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.detail-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 700px;
  height: 500px;
  border: 6px solid var(--extra-color);
}
.detail-pic > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detail-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}

.detail-text > p {
  color: var(--primary-color);
  font-family: var(--font-pri);
  text-align: justify;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 796px) {
  .heading-section {
    border: 4px solid var(--extra-color);
    margin-top: 0px;
  }
  .heading-section > h1 {
    font-size: 32px;
    font-weight: 900;
  }
  .detail-section {
    flex-direction: row;
    gap: 40px;
    padding: 20px;
  }
  .detail-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 50%;
    height: 100%;
  }

  .detail-text > p {
    text-align: start;
    font-size: 16px;
    line-height: 30px;
  }
  .detail-pic {
    width: 50%;
    height: 100%;
  }
  .detail-pic > img {
    height: 100%;
    object-fit: cover;
  }
}
