*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading-section {
  padding: 28px 0;
}
.heading-section > h1 {
  color: var(--primary-color);
  font-family: var(--font-sec);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

@media screen and (min-width: 796px) {
  .heading-section {
    border-top: 4px solid var(--extra-color);
    background-color: var(--base-color);
    margin-top: 0px;
  }
  .heading-section > h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--primary-color);
  }
}

.contact-page-content {
  width: 100%;
  margin: 0 auto;
  padding: 80px;
  padding-bottom: 20px;
  line-height: 1.6;
  font-family: var(--font-pri);
  color: var(--base-color);
  background-color: var(--primary-color);
}

/* Section Styling */
.contact-section {
  padding: 40px 0;
  text-align: center;
}

.contact-section h1,
.contact-section h2,
.contact-section h3,
.contact-section h4 {
  font-family: var(--font-sec);
  margin-bottom: 15px;
}

.contact-section h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
}
.contact-section h2 {
  font-size: 2em;
  margin-bottom: 25px;
}
.contact-section h3 {
  font-size: 1.6em;
}
.contact-section h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* Booking Section */
.booking-section {
  border: 1px solid var(--extra-color);
  border-radius: 8px;
  padding: 30px;
}

.booking-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.booking-option {
  flex-basis: 280px;
  text-align: center;
}

.booking-icon {
  margin-bottom: 10px;
  width: 36px;
}

.booking-label {
  font-family: var(--font-sec);
  color: var(--font-color-sec);
  font-size: 0.95em;
  margin-bottom: 5px;
}

.booking-info {
  font-family: var(--font-sec);
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 1.1em;

  word-wrap: break-word;
}

/* Call-to-Action Button Styling */
.cta-button {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 5px;
  font-family: var(--font-pri);
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: 1em;
}

.cta-button:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.email-button {
  background-color: var(--extra-color);
  color: var(--primary-color);
}

.email-button:hover {
  color: var(--primary-color);
}

.whatsapp-button {
  background-color: var(--base-color);
  color: var(--primary-color);
}

.whatsapp-button:hover {
  color: var(--primary-color);
}

/* Locations Section */
.locations-section {
  text-align: left;
}
.locations-section h2 {
  text-align: center;
}

.locations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.clinic-column {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  border: 1px solid var(--extra-color);
  border-radius: 5px;
}
.clinic-column h3 {
  margin-bottom: 20px;
}

.address,
.hours {
  margin-bottom: 15px;
  font-family: var(--font-sec);
  color: var(--base-color);
}
.address img,
.hours-title img {
  margin-right: 8px;
  width: 15px;
  text-align: center;
}
.hours ul {
  list-style: none;
  padding-left: 23px;
  font-size: 0.95em;
}
.hours-title {
  font-weight: 500;
  color: var(--font-color-sec);
  margin-bottom: 5px;
}

.map-container {
  margin-top: 20px;
  width: 100%;
  line-height: 0;
}

.map-container iframe {
  width: 100%;
  height: 250px;
  border: 0;
  border-radius: 4px;
}

/* Fees Section */

.fees-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}
.fee-item {
  padding: 15px 0;
}
.fee-item:first-child {
  padding-top: 0;
}
.fee-item:last-child {
  padding-bottom: 0;
}

.fee-price {
  font-family: var(--font-sec);
  font-size: 1.4em;
  font-weight: 500;
  color: var(--extra-color);
  margin-bottom: 5px;
}

.fee-desc {
  font-family: var(--font-sec);
  color: var(--font-color-sec);
  font-size: 0.9em;
}

hr.fee-separator {
  border: 0;
  border-top: 1px solid var(--extra-color);
  margin: 10px 0;
}

/* ======= footer section ==========*/

.social-icons-section {
  margin-top: 20px;
  border-bottom: 1px solid var(--extra-color);
}
.social-icons-section h3 {
  font-size: 2em;
}

.social-icons a {
  margin: 0 15px;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
}
.social-icons a > img {
  width: 48px;
}
.social-icons a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 796px) {
  .contact-page-content {
    padding: 20px;
  }

  .contact-section {
    padding: 40px 0;
    text-align: center;
  }

  .contact-section h1 {
    font-size: 2.2em;
  }
  .contact-section h2 {
    font-size: 1.8em;
  }

  .booking-options {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .booking-option {
    flex-basis: auto;
    width: 90%;
    max-width: 350px;
  }

  .locations-container {
    flex-direction: column;
    gap: 25px;
  }
  .clinic-column {
    min-width: unset;
  }

  .social-icons a {
    margin: 0 10px;
  }
}
